body{
    display: flex;
    flex-wrap: wrap;
}
nav>ul{
    display: flex;
    list-style-type: none;
    border-radius: 25px;
    box-shadow:0 10px 40px orange  ;
    border: 1px solid black;
    width:100% ;
    background-color:  orange;
    
}
li{
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    text-emphasis-color: white;
}
nav{
    margin:auto;
}
ul{
    list-style-type: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: auto;
   
}
header img{
    width: 100%;
    height: 70%;
}

h1{
    color:orange;
    align-content: justify;
}

main{
    display: flex;
}
main aside{
    flex-basis: 30%;
}
main section{
    flex-basis: 70%;
    
}


footer img{
    width:5%
    
}
main aside img{
    width: 60%;
    height: 70%;
}