h1{
    color:orange;
    align-content: justify;
}
body{
    background-image: url(image/La_Foret_maudite.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5em;
}

aside{
    margin-top: 10px;
    Border:3px solid black;
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:10px;    
    
}
header img{
    border: 1px solid black;
    border-radius: 25px;
}
footer{
    margin-top:25px;
    padding-top: 10px;
    border-top: 1px solid black;
    width: 100%;
    font-size: small;
}

footer img{
    margin-top: 5;
}
h2{
    color:sandybrown;
}
p{
    color:sandybrown;
}
section{
    color:sandybrown;
}
main{
    margin: 10px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
}

header ul{
    display: flex;
    list-style-type: none;
    border-radius: 25px;
    box-shadow:0 10px 40px orange  ;
    border: 1px solid black;
    width:100% ;
    background-color:  orange;
    
}
h1{
    color:orange;
    align-content: justify;
}
aside ul{
    background-color: transparent;
    box-shadow:0 0 0 transparent ;
    border: 0;
}

